body{
    background:#f2f4f8;
    font-family: Arial;
}

.box{
    width:400px;
    background:white;
    padding:30px;
    margin:80px auto;
    border-radius:10px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    color:#333;
}

label{
    font-weight:bold;
    display:block;
    margin-top:15px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:12px;
    background:#4CAF50;
    color:white;
    border:none;
    border-radius:5px;
    margin-top:20px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#43a047;
}

.result{
    margin-top:20px;
    text-align:center;
}
